.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .input{
        margin: 10vh;
    }

    .todos{
        display: flex;
        flex-direction: column;

        h1{
            color: red;
        }

        .todosList{
            display: flex;
            justify-content: space-evenly;
        }
    }
}